{{define "header"}}
<head>
  <title>五子棋</title>

  <meta charset="UTF-8">
  <meta name="description" content="Simple online multiplayer version of the game 五子棋.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preload" href="{{ .baseURL }}/assets/Nunito.ttf" as="font" type="font/ttf" crossorigin>
  <style>
  {{template "fonts".}}
  </style>
  <link rel="stylesheet" href="{{ .baseURL }}/assets/style.css">

  <script>
    const boardSize = {{ .boardSize }};
    const baseURL = "{{ .baseURL }}";
    const socketURL = "{{ .socketURL }}";
  </script>
  <script src="{{ .baseURL }}/assets/script.js"></script>
</head>
{{end}}

{{define "logo"}}
<a id="logo" href="{{ .baseURL }}/"><img alt="五子棋" width="135" height="40" src="{{.baseURL}}/assets/logo.svg"></a>
{{end}}

{{define "root"}}
<!DOCTYPE html>
<html lang="en">
  {{template "header" .}}
  <body onload="onload()">
    <div id="content">
      {{template "logo".}}
      {{if .shareLink}}
        <div id="share-link-box" class="link-box {{if ne .boardWinner -1}}deactivated{{end}}">
        Share link with other player:
        <div id="share-link" onclick="copyClipboard({{.shareLink}})">
        <img src="{{ .baseURL }}/assets/copy.svg" class="copy-symbol" width="20" height="20" alt="copy to clipboard"><span>{{.shareLink}}</span>
        </div>
        </div>
      {{end}}

      <div id="message-box">Waiting for opponent to connect.</div>
      <canvas id="boardCanvas" width="400" height="400"></canvas>
      <div id="resign-div">
      <button id="resign-link" class="button" onclick="resign()">Resign</button>
      </div>

      <p><b>Rules:</b> Take turns putting your symbol on the board. The first one wo can reach five in a row wins.</p>
    </div>
  </body>
</html>
{{end}}


{{define "landing"}}
<!DOCTYPE html>
<html lang="en">
  {{template "header" .}}
  <body>
    <div id="landing">
      {{template "logo".}}
      
      <form action="{{ .baseURL }}/start" method="get">
      <div class="form">
      <span>Board size:</span>
      <input type="number" name="size" min="5" max="{{ .maxBoardSize }}" step="2" value = "15">
      <span>Your symbol:</span>
      <div>
      <input type="radio" name="use-x" value="true" checked><img src="{{ .baseURL }}/assets/cross.svg" alt="cross" width="14" height="14">
      <input type="radio" name="use-x" value="false"><img src="{{ .baseURL }}/assets/circle.svg" alt="circle" width="14" height="14">
      </div>
      <span>First player:</span>
      <div>
      <input type="radio" name="first-player" value="true" checked><label>You</label>
      <input type="radio" name="first-player" value="false"><label>They</label>
      </div>
      <div></div>
      <input class="button" type="submit" value="Start game">
      </div>
      </form>
    </div>
  </body>
</html>
{{end}}

{{define "error"}}
<!DOCTYPE html>
<html lang="en">
  {{template "header" .}}
  <body>
    <div id="landing">
      {{template "logo".}}
      <p>
        {{ .message }} <a href="{{ .baseURL }}/">New game?</a>
      </p>
    </div>
  </body>
</html>
{{end}}

{{define "fonts"}}
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 200 900;
  font-display: swap;
  src: url('{{.baseURL}}/assets/Nunito-italic.ttf') format('truetype-variations');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url('{{.baseURL}}/assets/Nunito.ttf') format('truetype-variations');
}
{{end}}
