{{define "header"}}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ .baseURL }}/assets/style.css">

  <title>五醍棋</title>

  <script>
    const boardSize = {{ .boardSize }};
    const baseURL = "{{ .baseURL }}";
    const socketAddr = "ws://" + window.location.host + baseURL + "/board/{{ .ownId }}/join"
  </script>
  <script src="{{ .baseURL }}/assets/script.js"></script>
</head>
{{end}}

{{define "root"}}
<!DOCTYPE html>
<html>
  {{template "header" .}}
  <body onload="onload()">
    <div id="content">
      <h1 id="logo">五子棋</h1>
      {{if .shareLink}}
        <div id="share-link-box" class="link-box {{if ne .boardWinner -1}}deactivated{{end}}">
        Share link with other player:
        <div id="share-link" onclick="copyClipboard({{.shareLink}})">
        <img src="{{ .baseURL }}/assets/copy.svg" class="copy-symbol" width="20" height="20" alt="copy to clipboard"><span>{{.shareLink}}</span>
        </div>
        </div>
      {{end}}

      <div id="message-box"></div>
      <canvas id="boardCanvas" width="400" height="400"></canvas>
      <div id="resign-div">
      <button id="resign-link" class="button" onclick="resign()">Resign</button>
      </div>

      <p><b>Rules:</b> Take turns putting your symbol on the board. The first one wo can reach five in a row wins.</p>
    </div>
  </body>
</html>
{{end}}


{{define "landing"}}
<!DOCTYPE html>
<html>
  {{template "header" .}}
  <body>
    <div id="landing">
      <h1 id="logo">五子棋</h1>
      
      <form action="{{ .baseURL }}/start" method="get">
      <div class="form">
      <span>Board size:</span>
      <input type="number" name="size" min="5" max="{{ .maxBoardSize }}" step="2" value = "15">
      <span>Your symbol:</span>
      <div>
      <input type="radio" name="use-x" value="true" checked><img src="{{ .baseURL }}/assets/cross.svg" width="14" height="14">
      <input type="radio" name="use-x" value="false"><img src="{{ .baseURL }}/assets/circle.svg" width="14" height="14">
      </div>
      <span>First player:</span>
      <div>
      <input type="radio" name="first-player" value="true" checked><label>You</label>
      <input type="radio" name="first-player" value="false"><label>They</label>
      </div>
      <div></div>
      <input class="button" type="submit" value="Start game">
      </div>
      </form>
    </div>
  </body>
</html>
{{end}}
