body {
  font-family: Nunito;

  --bg-dark: #3B5249;
  --bg-light: #e6dbc3;
  --bg-medium: #f6ebd3;
  --text-dark: #5e402a;
  background: var(--bg-medium);
  padding:0;
}

#content {
  background: var(--bg-medium);
  text-align: center;
  color: var(--text-dark);

  width: 95%;
  max-width:400px;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  font-family: "Ma Shan Zheng";
  margin: 0;
  flex: 0 1 auto;
}
#logo a {
  text-decoration: none;
}

#boardCanvas {
  box-sizing: border-box;
  width: 100%;
  border: 3px double var(--text-dark);
  aspect-ratio: 1 / 1; 
}

.hover-active {
  cursor: pointer;
}

a {
  font-weight:bold;
  color: var(--text-dark);
}

#landing {
  display:flex;
  justify-content: center;
  align-items: center;
  color: var(--text-dark);
  height:90vh;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


#landing #logo {
  margin-right:1em;
}


.copy-symbol {
  display:inline-block;
  vertical-align: middle;
  margin-right: 0.1em;
}

#share-link-box {
  text-align:center;
  max-height: 6em;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}

#share-link {
  background: var(--bg-light);
  border: 1px solid var(--text-dark);
  padding: 1ex;
  margin-bottom: 1ex;
}

#message-box {
  margin: 0.5em;
}


#share-link-box.deactivated {
  max-height: 0;
}

.button {
  background-color: var(--bg-medium);
  color: var(--text-dark);
  cursor: pointer;
  border: solid 1px var(--text-dark);
}
