body {
  font-family: Nunito;
  display: flex;
  justify-content: center;
  flex-flow:column;
  align-items: center;
  margin-top:1em;
  height:calc(100vh - 2em);

  --bg-dark: #3B5249;
  --bg-light: #e6dbc3;
  --bg-medium: #f6ebd3;
  --text-dark: #34252F;
  background: var(--bg-medium);
}

#content {
  padding: 1em;
  background: var(--bg-medium);
  text-align: center;
  color: var(--text-dark);
  white-space: nowrap;

  flex: 1 1 auto;
  display: flex;
  flex-flow:column;
  height: 100%;
  /* width: 50%; */
  width: min(90%, calc(90vh - 5em));
}

h1 {
  font-family: Serif;
}

#logo {
  font-family: "Ma Shan Zheng";
  margin: 0;
  flex: 0 1 auto;
}

#board {

  flex: 1 1 auto;
  padding: 0;
  margin-top: 1em;
}

table {
  border: 2px solid var(--text-dark);
  border-collapse: collapse;
  table-layout: fixed;
  line-height: 0px;
  /* width:100%; */
  background: var(--bg-light);
  /* height:calc(100% - var(--nrows) * 2px); */
  width:100%;
  aspect-ratio: 1/1;
  /* width:calc(100% - var(--nrows) * 1px); */


}

td {
  border: 1px solid;
  background-size: 100%;
  height: calc(100%/var(--nrows));
  width: calc(100%/var(--nrows));
}

.o_tile {
  background-image: url(/assets/circle.svg);
}

.x_tile {
  background-image: url(/assets/cross.svg);
}

.winning_tile {
  background-color: rgba(80,220,0, 0.9);

}

.x_tile .turn_number {
  border: 1px solid black;
  /* padding-left:0.5ex; */
  /* padding-right:0.5ex; */
  background-color: var(--bg-light);
  line-height: 2.5ex;
}
.turn_number {
  border-radius: 2ex;
  font-size: 1.8vh;
}

#landing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#landing #logo {
  margin-right:1em;
}

#landing-link {
  display:flex;
  flex-flow: column;
  justify-content: center;
  text-align:center;
}

#share-link {
  background: var(--bg-light);
  border: 1px solid black;
  padding: 1ex;
  margin-bottom: 1ex;
}

#landing-link a:visited, a:link {
  color: var(--text-dark);
  font-weight: bold;
  text-decoration: none;
}
#landing-link a:hover {
  text-decoration: underline;
}
